/* .App {
  text-align: center;
} */





body{
  /* background: url(../src/assets/logo.gif) no-repeat center center fixed; */
  /* background: rgb(32, 35, 41); */
  background-position: center 25%; 
  background-size: cover; 
  }
